*{
    padding: 0;
    margin: 0;
}
h2 , h3 {
    line-height: 1.5em;
    padding-bottom: 4px;
}
p,li{
    font-size: 18px;
    line-height: 1.5em;
    padding-bottom: 4px ;
}
.section{
    width: 90%;
    margin: auto;
    margin-top: 60px;
    
}
.banner{
    background-color: #19640f;
    text-align: center;
    padding: 80px;
    color: #fff;
    font-family: "open-sans", sans-serif;
    background:url(/assets/img/Artboard-1.jpg) no-repeat center;
    background-size: cover;
    height: 70vh;

}
img{
    width: 100%;
}
.banner h1{
    font-size: 40px;
}
.four-assert-container img{
    height: 60px;
    position: absolute;
    top:-25px;
    z-index: 2;
    background: #fff;
    left: calc(50% - 25px);
    width: unset;
}
.four-assert-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap :16px

}
.four-assert-container > .assert {
    border: #19640f 1px solid;
    border-radius: 20px;
    padding: 50px 8px 30px;
    position: relative;
}
.four-assert-container > .assert h2  {
    padding-bottom: 4px;
}
.title h2{
    text-align: center;
} 
.form-container {
    width: 40%;
    margin: auto;

}
.contact-form h3{
    color: #fff;
    text-align: center;
    font-size: 36px;

}
.contact-form form {
    background-color: #55b546;
    border-radius: 12px;
    padding:40px;
    display: flex;
    flex-direction: column;
}
.contact-form input {
    padding:12px 24px;
    border-radius: 8px;
    margin: 20px;
    outline: none;
    border: none;
}

.contact-form .flashanimation {
    animation: flash 700ms infinite;
}
.about-invisaligin-container-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.about-invisaligin-container-text{
    text-align: center;
}
.about-invisaligin-container-text  h3{
    color: #55b546;
    font-size: 40px;
    margin-bottom: 12px;
    font-style: italic;

}

.about-invisaligin-container-text  p{
    font-style: italic;
}
.about-invisaligin-container,.quytrinh-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:16px ;
}
.about-invisaligin-container > div.quytrinh-container > div{
}
@keyframes flash {
    0% {        opacity: 1;    }
    50%{        opacity: 0;    }
    100% {        opacity: 1;    };
}
.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
    padding: 12px;
}
.slick-prev {
    left: 25px;
    z-index: 2;
}
.slick-next {
    right: 50px;
    z-index: 2;
}
.slick-prev::before,.slick-next::before{
    font-size: 50px;
}
.chiphi {
    background: linear-gradient(135deg, rgb(4, 170, 110) 0%, rgba(36,154,17,0.46262254901960786)100%);

}
.chiphi .chiphi-section-60{
    width: 60%;
    padding: 60px;
    margin: auto;
}
.chiphi-header{
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 32px!important;
    margin-bottom: 16px;
    color: #fff;
}

.chiphi-header-first{
    background-color: #55b546;
    padding: 8px 12px;
}
.chiphi-header-second{
    border: #55b546 8px solid; 
    padding: 0px 12px;

}
.chiphi-text{
    color: #fff;
}
.chiphi-button {
    padding :40px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.chiphi-button a {
    text-align: center;
    background-color: #55b546;
    color: #fff;
    text-decoration: none;
    padding:28px 40px;
    border-radius: 80px;
    box-shadow: 5px 5px 5px #19640f;
}
.custom-review .slick-slide {
    background-color: #55b546;
    padding: 48px 100px;
    border-radius: 32px;
    margin: 12px;
}
.custom-review-container p{
    font-size: 24px;
    color: #fff;

}

.custom-review-container h3{
    font-size: 30px;
    color: #fff;
}
/* tablet and mobile */
