*{
    padding: 0;
    margin: 0;
    font-family: "open-sans", sans-serif;

}
h2{
    text-align: center;
    font-size: 40px;
    padding: 6px 0;
    color: #1e68a1;
}
h2 , h3 {
    line-height: 1.5em;
}
p,li{
    font-size: 18px;
    line-height: 1.5em;
    padding-bottom: 4px ;
}
.section{
    max-width: 1440px;
    width: 90%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.banner{
    background-color: #19640f;
    text-align: center;
    color: #fff;
    font-family: "open-sans", sans-serif;
    /* background:url(/assets/img/Artboard-1.jpg) no-repeat center; */
    background-size: contain;
    aspect-ratio: 1921/831;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px
}
.section1_content__addition {
    display: flex;
}
.section_content__addition_left{
    min-width: 200px
}
img{
    width: 100%;
}
.banner h1{
    font-size: 40px;
}

.four-assert-container .image{
    text-align: center;
}
.four-assert-container .image img{
    width: 80px;
    background: linear-gradient(#55b546 100%, #19640f 0%  );
    height: 80px;
    padding: 10px;
    border-radius: 50%;
}
.four-assert-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap :16px;
  margin-top: 90px;

}
.four-assert-container > .assert {
    border-radius: 20px;
    padding: 50px 8px 30px;
    position: relative;
}
.four-assert-container > .assert h2  {
    padding-bottom: 4px;
}
.title h3{
    text-align: center;
} 
.contact-form .form-container {
    display: grid;
    grid-template-columns: 55% 40%;
    gap :5%;
    width: 90%;
    margin: auto;
}  
.contact-form .form-container-text {
    background: url(/assets/img/3711711-6382d960ba93b19cda10924f308e5bfb-20200402100356.png) no-repeat bottom right;
    background-size: 200px;
}
.contact-form .form-container .form-logo img{
    height: 100%;
    width: 30%;
}
.contact-form h2{
    display: inline;
    color: #1e68a1;
    text-align: start;
    font-size: 30px;
    padding-bottom:4px ;
    border-bottom: 2px #1e68a1 solid;

}
.contact-form p{
    display: inline;
    color: #1e68a1;
    text-align: start;
    font-size: 20px;
    padding-bottom:4px ;

}
.contact-form h3{
    color: #fff;
    font-size: 32px;
}
.contact-form form {
    background-color: #55b546;
    border-radius: 12px;
    padding:40px;
    display: flex;
    flex-direction: column;
}
.contact-form input {
    padding:12px 24px;
    border-radius: 8px;
    margin: 12px 0;
    outline: none;
    border: none;
}
.contact-form input.button-submit {
    padding: 20px;
    font-size: 24px;
    background-color: #fd9e3b;
    color: #fff;
}
.contact-form .flashanimation {
    animation: flash 700ms infinite;
}
.case-title img{
    width: 70px ;
}
.case-title{
    text-align: center;
}

.case-title h2{
    color: #1e68a1;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 30px;
}
.case-title h2::before{
    content: "";
    width: 50%;
    border-bottom: #1e68a1 2px solid;
    position: absolute;
    bottom: 0;
    left: 25%;
}
.case-img{
    display: flex;
    width: 80%;
    margin: auto;
}
.case-text p{
    font-size: 24px;
    color: #1e68a1;
    text-align: center;
}
.about-invisaligin-container-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.about-invisaligin-container-text{
    text-align: center;
}
.about-invisaligin-container-text  h3{
    color: #55b546;
    font-size: 40px;
    margin-bottom: 12px;
    font-weight: 700;

}
.custom-container,.section5{
    background-color:  #ddd;
}
.chiphi h2{
    color: #fff;
}
.about-invisaligin-container-text  p{
    font-style: italic;
}
.about-invisaligin-container,.quytrinh-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:16px ;
}
.about-invisaligin-container > div.quytrinh-container > div{
}
@keyframes flash {
    0% {        opacity: 1;    }
    50%{        opacity: 0;    }
    100% {        opacity: 1;    };
}
.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
    padding: 12px;
}
.slick-prev {
    left: 25px;
    z-index: 2;
}
.slick-next {
    right: 50px;
    z-index: 2;
}
.slick-prev::before,.slick-next::before{
    font-size: 50px;
}
.chiphi {
    background: #19640f;
    

}
.chiphi .chiphi-section-60{
    width: 60%;
    padding: 60px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap:30px
}
.chiphi ::marker{
    content: ""!important;
}
.chiphi ul {
    padding-left: 30px;
}
.chiphi ul li{
    position: relative;
}
.chiphi ul li::before{
    content: "";
    position: absolute;
    height: 18px;
    width:18px;
    background:url(/assets/img/icon-svg/tooth-svgrepo-com.svg) no-repeat center;
    background-size: contain;
    left: -30px;
}
.chiphi-header{
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 32px!important;
    margin-bottom: 16px;
    color: #fff;
}

.chiphi-header-first{
    background-color: #55b546;
    padding: 8px 12px;
}
.chiphi-header-second{
    border: #55b546 8px solid; 
    padding: 0px 12px;

}
.chiphi-text{
    color: #fff;
}
.chiphi-button {

    display: flex;
    align-content: center;
    justify-content: center;
}
.chiphi-button a {
    text-align: center;
    background-color: #fd9e3b;
    color: #fff;
    text-decoration: none;
    padding:28px 40px;
    border-radius: 80px;
    box-shadow: 5px 5px 5px #19640f;
}
.custom-container {
    background-color: #ddd
}
.custom-review .slick-slide {
    background-color: #fff;
    padding:50px;
    border-radius: 32px;
    margin: 12px;
}
.custom-review-container p{
    font-size: 24px;
    color: #fff;

}
.custom-review-container {
    display: flex ;
    flex-direction: column;
    position: relative; 
}
.custom-review-container .custom-review-header{
    display: flex;
    align-items: center;
}
.custom-review-container .custom-review-header-img img {
    width: 100%;
    object-fit: cover;
    max-width: 65px;
    height: 65px;
    border-radius: 50%;
}
.custom-review-container .custom-review-header-img{
    width: 70px;
}
.custom-review-header-name h3 {
    font-size: 24px;
    padding-left: 12px;
    font-weight: 400;
}

.custom-review-header-name h3 span {
    font-size: 18px;
    padding-left: 12px;
}
.custom-review-content{
    padding-top: 20px;
    height: 5em;
    overflow: hidden;
    text-overflow: ellipsis;   
    
}
.custom-review-container p{
    font-size:18px;
    color: #7c7c7c; 
}
.custom-review-container::after {
    content: "";
    position: absolute;
    background: url("/assets/img/icon-svg/quote-right.svg") no-repeat;
    bottom: -40px;
    right: -10px;
    width: 40px;
    height: 40px;
    background-size: cover;
    z-index: 2;
}
.form-container-form-end{
    width: 40%;
    margin: auto;
}
.custom-review-rating{
    margin-top: 20px;
}
.custom-review-rating img{
    width: 16px;
    display: inline;
}
.footer{
    z-index: 1;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://inba-ng.hibotheme.com/assets/images/dental-tourism/footer/footer-bg.jpg);
   
}
.footer::before {
    background-color: #19640f;
    position: absolute;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
    width: 100%;
    content: "";
    right: 0;
    left: 0;
    top: 0;
}
.footer .footer-header{
    display: grid;
    grid-template-columns: 40% 26% 26%;
    gap: 2.5%;
}
.footer h2 {
    margin: 0 0 20px 0;
    line-height: 1;
    font-size: 45px;
    font-weight: 600;
    text-align: start;
}
.footer  h2 a {
    color: #fff;    
    font-size: 30px;
    
}
.footer a, .footer{
    color: #fff;
}
.footer li span{
    color: #55b546;
}
/* tablet and mobile */
@media screen and (max-width:1024px) {
    .about-invisaligin-container,.quytrinh-container{
        display: grid;
        grid-template-columns: 1fr;
        gap:16px ;
    }
    .form-container-form-end{
        width: 60%;
        margin: auto;
    }
    h2{
        font-size: 32px;
    }
    h3{
        font-size: 28px!important;
    }
    .case-img {
        flex-direction: column;
        padding-bottom: 16px;
    }
    .chiphi .chiphi-section-60{
        width: 80%;
    }
    .footer .footer-header{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer .footer-infomation{
        width: 60%;
        padding-bottom: 10px;
    }
  
    .footer-facebook,.footer-map{
        width: 40%;
    }
    .contact-form .form-container {
        display: grid;
        grid-template-columns: auto;
        gap: 5%;
        width: 90%;
        margin: auto;
    }
}
@media screen and (max-width:768px) {
    .chiphi .chiphi-section-60{
        padding:60px 0;
    }
    .form-container-form-end{
        width: 80%;
        margin: auto;
    }
    .four-assert-container{
        display: grid;
        grid-template-columns:  1fr 1fr;
        gap :30px
      
      } 
      .four-assert-container img{
        height: 40px;
        position: absolute;
        top:-25px;
        z-index: 2;
        background: #fff;
        left: calc(50% - 15px);
        width: unset;
    }
      h2{
        font-size: 22px;
    }
    h3{
        font-size: 16px!important;
    }
    p{
        font-size :14px !important;
    }
      .footer .footer-header{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
    }
    .footer .footer-infomation,.footer-facebook,.footer-map{
        width: 100%;
        display: flex;
        justify-content: center ;
    }


}
.section-2-new{
    background-color: #55b546;
    padding: 80px 0;
}
.section-2-new__content{
    display: flex;
   
}
.section-2-new__content__list{
    max-width: 650px;
}
.section-2-new__content__list__item{
    display: flex;
    margin: 20px 20px 0 20px;
    padding-right: 30px ;
    align-items: center;
}
.section-2-new__content__list__item__img{
  
   background-color: #fff;
}
.section-2-new__content__list__item__img img{
    width: 80px;
    height: 80px;
}
.section-2-new__content__list__item__content{
    color:#fff;
    padding: 0 20px;
}
.section-3-new{
    background-color: #7c7c7c;
}
.section-3-new-title{
    text-align: center;
    margin: 0px 0 40px;
}
.section-3-new-content{
    display: flex;
    justify-content: space-between;
}
.section-5-new__content {
    display: flex;
}
.section-5-new__content__left{
    margin :80px 7.5%;
    width: 40%;

}
.section-5-new__content__left h3{
    text-align: center;
}
.section-5-new__content__left ul {
    padding-left: 10%;
}
.section-5-new__content__right{
    background-color: #1e68a1;
    width: 60%;

}
.section-6-new h2{
    text-align: center;
}
.section-6-new__text-withborder p{
   text-align: center;
   padding: 20px;
  
}
.section-6-new__text-withborder p span{
    font-size: 30px;
    color: #1e68a1;
    border-bottom: 1px solid #1e68a1;
    border-top: 1px solid #1e68a1;
    padding: 8px;
    display: inline-block;
    position: relative;
}
.section-6-new__text-withborder p span:after{
    content:"";
    height:0;
    width: 0;
    border-top: 40px solid #55b546;
    border-right: 40px solid transparent;
    border-left: 40px solid transparent;
    position: absolute;
    bottom: -50px;
    left: calc(50% - 40px);

}
.section-6-new__link{
    text-align: center;
    margin-top:20px;
}
.section-6-new__link a{
    color:#fff;
    text-decoration: none;
    border-radius: 20px;
    background-color: #fd9e3b;
    padding: 20px 40px;
}